html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  body, h1, h2{
      margin: 0;
  }
  img{
      max-width: 50%;
      height: auto;
  }
  [id]{
      scroll-margin-top: 7.5ex;
  }
  .header{
      position: sticky;
      top: 0;
      padding: 0.25rem;
      text-align: center;
      background-color: black;
      color: antiquewhite;
  }
  .header a{
      margin: 0 1rem;
      color: #00c4d6;
      text-decoration: none;
  }
  .header a:hover{
      color:#088a74 ;
  }
  .slide{
      width: 100%;
      min-height: 100vh;
      color: #d9e8f0;
      background-color: #1e2345;
      padding: 2rem;
  }
  .slide:nth-child(odd){
    background-color: #616bac;

  }